{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}


<main>
    <section class="jumbotron bg-white">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 text-center p-5">
                <h1>Order at your convenience</h1>
                <p> CLick the button
                    below to get started with our contact-free ordering system.</p>
                <a class="btn btn-primary w-50" href="{{ url_for('register') }}">Place an Order</a>
            </div>
            <img src="{{ url_for('static', filename='images/reservation.jpg') }}" alt="" class="img-fluid col-md-6">
        </div>
    </section>
    <section class="jumbotron bg-light" id="about">
        <div class="row h-100 justify-content-center align-items-center">
            <img src="{{ url_for('static', filename='images/waiter.png') }}" alt="" class="img-fluid col-md-6">

            <div class="col-md-6 p-5">
                <h1>About</h1>
                <p>
                    From baked goods made daily to sandwiches made by hand to thoughtfully
                    prepared meals. Our goal is simple, satisfying food.
                </p>
            </div>
        </div>
    </section>
</main>

{% endblock content %}