{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login to order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                You need to register to be able to place orders.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-primary" href="{{ url_for('register') }}">Register Now</a>
            </div>
        </div>
    </div>
</div>

<main>
    <section class="jumbotron bg-white">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 text-center p-5">
                <h1>Order at your convenience</h1>
                <p> CLick the button
                    below to get started with our contact-free ordering system.</p>
                <a class="btn btn-primary w-50" href="{{ url_for('register') }}">Place an Order</a>
            </div>
            <img src="{{ url_for('static', filename='images/reservation.jpg') }}" alt="" class="img-fluid col-md-6">
        </div>
    </section>
    <section class="jumbotron bg-light" id="about">
        <div class="row h-100 justify-content-center align-items-center">
            <img src="{{ url_for('static', filename='images/waiter.png') }}" alt="" class="img-fluid col-md-6">

            <div class="col-md-6 p-5">
                <h1>About</h1>
                <p>
                    From baked goods made daily to sandwiches made by hand to thoughtfully
                    prepared meals. Our goal is simple, satisfying food.
                </p>
            </div>
        </div>
    </section>
    <section class="jumbotron" id="featured">
        <div class="row">
            <img src="{{ url_for('static', filename='images/menu.jpg') }}" alt="" class="d-none d-xl-block col-xl-4">

            <div class="col-xl-8 p-5">
                <h1>Featured Dishes</h1>
                <p>
                    Here is some of our chef's recommended dishes for today!
                </p>
                <div class="card border-primary">
                    <div class="card-header text-primary h5 p-3">Starters</div>
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_1.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Salad</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_2.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Soup</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_3.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Toast</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card border-primary">
                    <div class="card-header text-primary h5 p-3">Starters</div>
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_1.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Salad</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_1.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Soup</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-dark">
                                <img src="{{ url_for('static', filename='images/slide_3.jpg') }}" class="card-img-top"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Toast</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Hic, possimus.</p>
                                    <div class="list-group list-group-horizontal">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action bg-danger text-white text-center">-</a>
                                        <a class="list-group-item">0</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="list-group-item list-group-item-action text-center active">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

{% endblock content %}